/*Debut Menu Hamburger*/
.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    background: white;
    padding: 20px;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    overflow-y: auto;
}

.menu.open {
    display: block;
}

#openMenu {
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
}

.close {
    background: none;
    border: none;
    font-size: 26px;
    cursor: pointer;
}
/*fin Menu Hamburger*/
